body{
    background-color: #2E4D9C;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

nav{
  background-color:	#6DC0E1;
}

footer{
  background-color:	#6DC0E1;
  color: #2E4D9C;
}

a.footer-item{
  color: white;
}
a.footer-item:hover{
  background-color: #6281D0;
}
a.nav-link:hover{
  background-color: #C0E4F2;
}
